@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: DINPro, Arial, Helvetica, sans-serif;
  src: url("../fonts/DINPro.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v18-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v18-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v18-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v18-latin-700.woff2") format("woff2");
}
